<tr style="background-color: white;">
  <td
    style="vertical-align: middle;"
    class="has-text-centered"
    colspan="4"
  >
  <form hx-swap="outerHTML" hx-target="closest tr">
    <input type="hidden" name="tag_old" value="{{ tag }}">
    <input type="text"   name="tag_new" value="{{ tag }}" class="input" style="width: 140px;">
    <button style="vertical-align: middle;" class="button is-link"          hx-post="/tag/update" hx-trigger="click" type="submit" hx-vals='{"action": "save"}'>Save</button>
    <button style="vertical-align: middle;" class="button is-link is-light" hx-post="/tag/update" hx-trigger="click" type="submit" hx-vals='{"action": "cancel"}'>Cancel</button>
  </form>
</td>

</tr>
