<tr style="background-color: white;">

  {# Tag name itself #}
  <td class="has-text-left is-size-5" style="vertical-align: middle;">
    {{ tag }}
  </td>

  {# Current count of documents with tag #}
  <td class="has-text-centered" style="vertical-align: middle;">
    {{ count }}
  </td>

  {# Actions icons and associated htmx triggers.. #}
  <td class="has-text-centered" style="vertical-align: middle;">

    <button
      class="button"
      style="border: none;"
      hx-target="closest tr"
      hx-get="/tag/edit"
      hx-post="/tag/update"
      hx-trigger="click"
      hx-vals='{"name": "{{ tag }}"}'
      hx-swap="outerHTML"
    >
      <span class="icon is-small is-size-7">
	<i class="fa-regular fa-pen-to-square"></i>
      </span>
    </button>

    <button
      class="button"
      style="border: none;"
      hx-confirm="Are you sure?"
      hx-swap="outerHTML swap:1s"
      hx-delete="/tag/delete"
      hx-target="closest tr"
      hx-vals='{"name": "{{ tag }}"}'
    >
      <span class="icon is-small is-size-7">
	<i class="fa-regular fa-trash-can"></i>
      </span>
    </button>
  </td>
</tr>
