@charset "utf-8";

// -----------------------------------------------------------------------------
// FONT DEFINITIONS!
// -----------------------------------------------------------------------------
@import url(https://fonts.bunny.net/css?family=inter:400,600,700);
$family-sans-serif: "Inter", sans-serif;
$family-primary: "Inter";

// Alternative is: AH (and keep going back and forth between 'em!)
// @import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,600,700);
// $family-sans-serif: "Atkinson Hyperlegible", sans-serif;
// $family-primary:    "Atkinson Hyperlegible";


// -----------------------------------------------------------------------------
// Primary CSS framework..
// -----------------------------------------------------------------------------
@import "../lib/bulma-0.9.4/bulma.sass";

// -----------------------------------------------------------------------------
// LOCAL Entries..
// -----------------------------------------------------------------------------
tr.htmx-swapping td {
  opacity:    0;
  transition: opacity 1s ease-out;
}

// Only way to get things to right-align correctly on new/edit dialog pages?
.field.is-horizontal .field-body .control {
    width:    50%;
    overflow: auto;
}

// -----------------------------------------------------------------------------
// Responsive setup (at least for primary display table)
// -----------------------------------------------------------------------------
// Size breakpoints (based on Bulma defaults)
$lt_tablet     : "max-width: 768px";
$lt_desktop    : "max-width: 1023px";
$lt_widescreen : "max-width: 1215px";
$lt_fullhd     : "max-width: 1407px";

$gt_phone      : "min-width: 0px";
$gt_tablet     : "min-width: 768px";
$gt_desktop    : "min-width: 1023px";
$gt_widescreen : "min-width: 1215px";
$gt_fullhd     : "min-width: 1407px";

// Setup OPTIONAL elements as we get smaller in size
.is-hidden-lt-tablet {
  // ie. Hide the respective element if we're less than a tablet in width (aka phone)
  @media only screen and (#{unquote($lt_tablet)}) {
    display: none;
  }
}
.is-hidden-lt-desktop {
  @media only screen and (#{unquote($lt_desktop)}) {
    display: none;
  }
}
.is-hidden-lt-widescreen {
  @media only screen and (#{unquote($lt_widescreen)}) {
    display: none;
  }
}
.is-hidden-lt-fullhd {
  @media only screen and (#{unquote($lt_fullhd)}) {
    display: none;
  }
}

// Setup ALL other styles as we get smaller in size
.responsive-font {
  @media only screen and (#{unquote($gt_phone)}) {
    font-size: 0.6rem;
  }
  @media only screen and (#{unquote($gt_tablet)}) {
    font-size: 0.7rem;
  }
  @media only screen and (#{unquote($gt_desktop)}) {
    font-size: 0.9rem;
  }
  @media only screen and (#{unquote($gt_widescreen)}) {
    font-size: 1.0rem;
  }
  @media only screen and (#{unquote($gt_fullhd)}) {
    font-size: 1.2rem;
  }
}
