{% extends "__root.html" %}

{% block js_local %}
<script type="text/javascript">
 document.addEventListener('DOMContentLoaded', function () {
   var datepicker = bulmaCalendar.attach('#last_cooked', {
     displayMode: 'dialog',
     dateFormat: 'yyyy-M-d',
     isClearable: true,
   });
 });

 function confirm_form_delete(event, formId, btnName, btnValue) {
   event.preventDefault();
   Swal.fire({

     title: "Are you sure you want to delete this entry?",
     text: "You will not be able to revert this!",
     icon: "warning",

     confirmButtonColor: "#d33",
     confirmButtonText: "Yes",

     showCancelButton: true,
     cancelButtonColor: "#3085d6",
     cancelButtonText: "Cancel",

   }).then((result) => {
     if (result.isConfirmed) {

       var input = document.createElement("input");	// Create a new input element to simulate the button press
       input.setAttribute("type", "hidden");		// Set its type to "hidden", so it's not visible on the page
       input.setAttribute("name", btnName);		// The name should match the name of the button you're simulating
       input.setAttribute("value", btnValue);		// The value should match the value of the button you're simulating

       var form = document.getElementById(formId);
       form.appendChild(input);
       form.submit()
     }
   });
 }
</script>
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" id="form_add_edit" novalidate>
  {{ form.hidden_tag() }}

  <!-- Title Field -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="control">
	<input autofocus required
	       class="input"
	       id="title" name="title"
	       placeholder="eg. a Really Good Dish"
	       value="{{ document.title }}"
	>
      </div>
      {% for error in errors.title %}<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>{% endfor %}
    </div>
  </div>

  <!-- File -->
  <div id="file-upload" class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">File</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="field">
          <div class="file has-name is-primary">
            <label class="file-label">
	      <input class="file-input" id="file_" name="file_" script="on change put me.files[0].name into #file-name" type="file">
              <span class="file-cta">
                <span class="file-label">Upload</span>&nbsp;
                <span class="file-icon"><i class="fas fa-upload"></i></span>
              </span>
              <span id="file-name" name="file-name" class="file-name is-large">
		{% if document.file_ %}
		{{ document.file_.filename }}
		{% endif %}
	      </span>
            </label>
          </div>
        </div>
      </div>
      {% for error in errors.file_ %}<p class="help is-danger is-left is-size-5" style="vertical-align: middle;">{{error}}</p>{% endfor %}
    </div>
  </div>

  <!-- URL -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Link</label>
    </div>
    <div class="field-body">
      <div class="control is-link">
	<input class="input" id="url_" name="url_" type="text" value="{{ document.url_|default("", true) }}">
      </div>
      {% for error in errors.url_ %}<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>{% endfor %}
    </div>
  </div>

  <!-- Source -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Source</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
	  <select id="source" name="source">
	    {% for source in sources %}
	    <option {% if document.source == source %}selected{% endif %} value="{{ source }}">{{ source }}</option>
	    {% endfor %}
	  </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Tags -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Tags</label>
    </div>
    <div class="field-body">
      <div class="control">
	<input class="input" id="tags" name="tags" type="text" value="{{ document.tags_as_str|default("", true) }}">
      </div>
      {% for error in errors.tags %}<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>{% endfor %}
    </div>
  </div>

  <!-- Quality Rating -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Quality</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
	  <select id="quality" name="quality">
	    <option {% if document.quality == 5 %}selected{% endif %} value="5">★★★★★</option>
	    <option {% if document.quality == 4 %}selected{% endif %} value="4">★★★★</option>
	    <option {% if document.quality == 3 %}selected{% endif %} value="3">★★★</option>
	    <option {% if document.quality == 2 %}selected{% endif %} value="2">★★</option>
	    <option {% if document.quality == 1 %}selected{% endif %} value="1">★</option>
	    <option {% if not document.quality  %}selected{% endif %} value="0"></option>
	  </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Complexity Rating -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Complexity</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
	  <select id="complexity" name="complexity">
	    <option {% if document.complexity == 5 %}selected{% endif %} value="5">★★★★★</option>
	    <option {% if document.complexity == 4 %}selected{% endif %} value="4">★★★★</option>
	    <option {% if document.complexity == 3 %}selected{% endif %} value="3">★★★</option>
	    <option {% if document.complexity == 2 %}selected{% endif %} value="2">★★</option>
	    <option {% if document.complexity == 1 %}selected{% endif %} value="1">★</option>
	    <option {% if not document.complexity  %}selected{% endif %} value="0"></option>
	  </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Notes -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Notes</label>
    </div>
    <div class="field-body">
      <div class="control">
	<textarea class="textarea" id="notes" name="notes" cols="63" rows="10" type="text">{{ document.notes|default("", true) }}</textarea>
      </div>
    </div>
  </div>

  <!-- Last Cooked -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Last Cooked</label>
    </div>
    <div class="field-body">
      <div class="control">
	<input class="input my-calendar" type="date" id="last_cooked" name="last_cooked">
      </div>
      {% for error in errors.last_cooked %}<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>{% endfor %}
    </div>
  </div>

  {% if document.dates_cooked %}
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Recipe Cooked:</label>
    </div>
    <div class="field-body">
      <div class="control">
	<ul class="bulleted-list">
	  {% for last_cooked in document.dates_cooked %}
	  <li>{{ last_cooked.strftime("%Y-%m-%d") }}</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  {% endif %}

  <hr/>

  <!-- Created -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Created</label>
    </div>
    <div class="field-body">
      <div class="control">
	<input class="input" type="text" readonly value="{{ document.created_local }}">
      </div>
    </div>
  </div>

  <!-- Updated -->
  {% if document.updated %}
  <div class="field is-horizontal">
    <div class="field-label is-medium is-normal">
      <label class="label">Last Updated</label>
    </div>
    <div class="field-body is-normal">
      <div class="control">
	<input class="input" type="text" readonly value="{{ document.updated_local }}">
      </div>
    </div>
  </div>
  {% endif %}

  <br/>

  <div class="field is-horizontal">
    <div class="field-label is-medium"></div><!-- Need this even when empty! -->
    <div class="field-body">
      <div class="control is-primary">
	<div class="columns">
	  <div class="column is-2">
	    <input class="button is-link"
		   type="submit"
		   id="save"
		   name="save"
		   value="Save">
	  </div>
	  <div class="column is-2">
	    <input class="button is-link is-light"
		   type="submit"
		   id="cancel"
		   name="cancel"
		   value="Cancel">
	  </div>
	  <div class="column is-2 is-offset-4">
	    <input class="button is-danger is-light"
		   type="submit"
		   value="Delete Document"
		   onclick="confirm_form_delete(event, 'form_add_edit', 'delete', 'delete')">
	  </div>
	</div>
      </div>
    </div>
  </div>

</form>

{% endblock %}
