{% extends "__root.html" %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" novalidate>
  {{ form.hidden_tag() }}

  <!-- Title Field -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.title.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        {{ form.title(autofocus="") }}
      </div>
      {% for error in form.title.errors %}
      &nbsp;<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>
      {% endfor %}
    </div>
  </div>

  <!-- File -->
  <div id="file-upload" class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.file_.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="field">
          <div class="file has-name is-primary">
            <label class="file-label">
	      {{ form.file_ }}
              <span class="file-cta">
                <span class="file-label">Upload</span>&nbsp;
                <span class="file-icon"><i class="fas fa-upload"></i></span>
              </span>
              <span id="file-name" class="file-name is-large">
		{{ form.file_.filename }}
	      </span>
            </label>
          </div>
        </div>
      </div>
      {% for error in form.file_.errors %}
      &nbsp;<p class="help is-danger is-left is-size-5" style="vertical-align: middle;">{{error}}</p>
      {% endfor %}
    </div>
  </div>

  <!-- Source -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.source.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
          {{ form.source }}
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Tags -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.tags.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        {{ form.tags(class="input") }}
      </div>
      {% for error in form.tags.errors %}
      &nbsp;<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>
      {% endfor %}
    </div>
  </div>

  <!-- Quality Rating -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.quality.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
          {{ form.quality }}
        </div>
      </div>
    </div>
  </div>

  <!-- Complexity Rating -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.complexity.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
          {{ form.complexity }}
        </div>
      </div>
    </div>
  </div>

  <!-- URL -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.url_.label }}</label>
    </div>
    <div class="field-body">
      <div class="control is-link">
        {{ form.url_ }}
      </div>
      {% for error in form.url_.errors %}
      &nbsp;<p class="help is-danger has-text-centered is-size-4" style="vertical-align: middle;">{{error}}</p>
      {% endfor %}
    </div>
  </div>

  <!-- Notes -->
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">{{ form.notes.label }}</label>
    </div>
    <div class="field-body">
      <div class="control">
        {{ form.notes }}
      </div>
    </div>
  </div>

  <br/>

  <div class="field is-horizontal">
    <div class="field-label is-medium"></div><!-- Need this!!! -->
    <div class="field-body">
      <div class="control is-primary">
	{{ form.submit(class="button is-link") }}
      </div>
      <div class="control is-secondary">
	{{ form.cancel(class="button is-link is-light") }}
      </div>
    </div>
  </div>

</form>

<!-- </div> -->

{% endblock %}
