{# --------------------------------------------------------------------------- #}
{# Render the search input control
{# --------------------------------------------------------------------------- #}
<div id="controls" class="field is-grouped is-grouped-multiline">
  <style>
   .no-border {
     border: none !important;
     box-shadow: none !important;
   }
  </style>

  {# Search field #}
  <div class="control">
    <p class="control has-icons-left">
      <style>
       .search {
	 border-radius: 6px;
	 border: 1px solid #eee;
	 outline: 0;
	 transition: all .1s ease-in-out;
	 width: 10.0rem;
       }
       .control-link {
	 display: inline-flex;
	 align-items: center;
	 justify-content: center;
	 height: 2.25em;  /* Match Bulma's default button height */
	 width: 2.25em;   /* Make it square, adjust as needed */
	 padding: 0.375em 0.75em;  /* Matches Bulma's default button padding */
	 background-color: transparent;
	 border: none;
	 cursor: pointer;
	 text-decoration: none;
       }
       .control-link:hover {
	 background-color: rgba(0, 0, 0, 0.05);  /* Light gray background on hover */
       }
      </style>
      <input
	autofocus
	class="input search responsive-font"
	id="search"
	name="search"
	hx-post="/search"
	hx-target="#id_documents_div"
	placeholder="Search..."
	type="search"
	{% if search %}value="{{ search }}"{% endif %}
      >
      <span class="icon is-small is-left responsive-font">
	<i class="fas fa-search"></i>
      </span>
    </p>
  </div>

  {# Reset, ie. redisplay with search field *cleared* #}
  <div class="control">
    <a href="/reset" class="control-link" title="Reset">
      <span class="icon"><i class="fas fa-house responsive-font"></i></span>
    </a>
  </div>

  {# Requery, ie. simply requery the display table by itself using current search criteria #}
  <div class="control ml-2">
    <a href="/" method="post" hx-post="/" hx-target="#id_documents_div" class="control-link" title="Requery">
      <span class="icon"><i class="fas fa-arrows-rotate responsive-font"></i></span>
      <span id="htmx-row-count" class="responsive-font-small ml-1">
	{% if documents %}{{ documents|length }}{% endif %}
      </span>
    </a>
  </div>
</div>
