{# --------------------------------------------------------------------------- #}
{# Render the search input control
{# --------------------------------------------------------------------------- #}
<div id="controls" class="field is-grouped is-grouped-multiline">
  <style>
   .control-link {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     height: 2.25em;  /* Match Bulma's default button height */
     width: 2.25em;   /* Make it square, adjust as needed */
     padding: 0.375em 0.75em;  /* Matches Bulma's default button padding */
     background-color: transparent;
     border: none;
     cursor: pointer;
     text-decoration: none;
   }
   .control-link:hover {
     background-color: rgba(0, 0, 0, 0.05);  /* Light gray background on hover */
   }

   /* Turn off the default datalist pull-down (we'll use Bulma's) */
   /* input::-webkit-calendar-picker-indicator {
      opacity: 0;
      }
      input[list]::-webkit-calendar-picker-indicator {
      display: none;
      } */

   input::-webkit-calendar-picker-indicator {
     display: none !important;
     -webkit-appearance: none;
   }

   input[list]::-webkit-calendar-picker-indicator {
     display: none !important;
     -webkit-appearance: none;
   }

   /* For iOS Safari */
   input[list] {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
   }

   /* Ensure the custom icon is visible */
   .icon.is-right {
     pointer-events: none;
     z-index: 4;
   }
  </style>

  {# ######################################################################### #}
  {# Search field #}
  {# ######################################################################### #}
  <div class="control has-icons-left has-icons-right">
    <div hx-trigger="change" hx-post="/search" hx-target="#id_documents_div" hx-include="#search">
      <div hx-trigger="keyup from:#search delay:500ms" hx-get="/update-search-history" hx-target="#id-search-history">
	<input
	  autofocus
	  id="search"
	  name="search"
	  class="input"
	  type="text"
	  list="id-search-history"
	  placeholder="What do you want to eat?"
	  class="search responsive-font"
	  {% if search %}value="{{ search }}"{% endif %}
	>
      </div>
    </div>

    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>

    <datalist id="id-search-history">
      {% for search in search_history %}
	<option value="{{ search }}">
	{% endfor %}
    </datalist>
  </div>

  {# ######################################################################### #}
  {# Reset, ie. redisplay with search field *cleared*                          #}
  {# ######################################################################### #}
  # if search
  <div class="control">
      <a class="control-link"
	 title="Reset"
	 hx-post="/reset"
	 hx-target="#id_documents_div"
	 type="button">
	  <span class="icon"><i class="fas fa-filter-circle-xmark responsive-font"></i></span>
      </a>
  </div>
  # endif

  {# ######################################################################### #}
  {# Requery, ie. requery table using current search criteria                  #}
  {# ######################################################################### #}
  <div class="control ml-2">
      <a class="control-link"
	 title="Requery"
	 hx-post="/"
	 hx-target="#id_documents_div"
	 type="button">
	  <span class="icon"><i class="fas fa-repeat responsive-font"></i></span>
	  <span id="htmx-row-count" class="responsive-font-small ml-1">
	     {% if documents %}{{ documents|length }}{% endif %}
	  </span>
    </a>
  </div>
</div>
