{% extends "__root.html" %}

{% block extra_css %}
<style>
 /* Use these to handle the disappearance of success/failure icons for each form element */
 @keyframes fade-out {
   0%   { opacity: 1.00; }
   25%  { opacity: 0.75; }
   50%  { opacity: 0.50; }
   75%  { opacity: 0.25; }
   100% { opacity: 0.00; }
 }

 .fade-out {
   animation: fade-out 5s forwards;
 }

 .form-input {
   width: 100%;  /* For mobile phones: */
 }

 /* For landscape phones and down to portrait tablets: */
 @media (min-width: 576px) {
   .form-input {
     width: 90%;
   }
 }

 /* For landscape tablets and down to desktops: */
 @media (min-width: 768px) {
   .form-input {
     width: 80%;
   }
 }

 /* For large desktops: */
 @media (min-width: 1200px) {
   .form-input {
     width: 70%;  /* Or any desired width */
   }
 }

</style>
{% endblock %}

{% block content %}

{% include "main/partials/edit_form_title.html" %}
<br/>
{% include "main/partials/edit_form_file.html" %}
<br/>
{% include "main/partials/edit_form_url.html" %}
<br/>
{% include "main/partials/edit_form_source.html" %}
<br/>
{% include "main/partials/edit_form_tags.html" %}
<br/>
{% include "main/partials/edit_form_quality.html" %}
<br/>
{% include "main/partials/edit_form_complexity.html" %}
<br/>
{% include "main/partials/edit_form_notes.html" %}

{% endblock %}
