{% extends "__root.html" %}

{% block extra_css %}
<style>
 /* Use these to handle the disappearance of success/failure icons for each form element */
 @keyframes fade-out {
   0%   { opacity: 1.00; }
   25%  { opacity: 0.75; }
   50%  { opacity: 0.50; }
   75%  { opacity: 0.25; }
   100% { opacity: 0.00; }
 }
 .fade-out {
   animation: fade-out 5s forwards;
 }

 /* Responsive sizing of form input fields */
 .form-input {
   width: 100%;  /* For mobile phones: */
 }

 /* For landscape phones and down to portrait tablets: */
 @media (min-width: 576px) {
   .form-input {
	 width: 90%;
   }
 }

 /* For landscape tablets and down to desktops: */
 @media (min-width: 768px) {
   .form-input {
	 width: 80%;
   }
 }

 /* For large desktops: */
 @media (min-width: 1200px) {
   .form-input {
	 width: 70%;  /* Or any desired width */
   }
 }

</style>
{% endblock %}

{% block content %}

{% include "main/hx/edit_field_title.html" %}
{% include "main/hx/edit_field_file_.html" %}
{% include "main/hx/edit_field_source.html" %}
{% include "main/hx/edit_field_url_.html" %}
{% include "main/hx/edit_field_tag.html" %}
{% include "main/hx/edit_field_quality.html" %}
{% include "main/hx/edit_field_complexity.html" %}
{% include "main/hx/edit_field_dates_cooked.html" %}
{% include "main/hx/edit_field_notes.html" %}
<hr/>
{% include "main/hx/edit_category.html" %}
{% include "main/hx/edit_created.html" %}
{% include "main/hx/edit_last_updated.html" %}
{% include "main/hx/edit_form_delete.html" %}

{% endblock %}
