{% extends "__root.html" %}

{% block content %}

<form method="POST">
  {{ form.hidden_tag() }}

  <div class="field is-horizontal" id="field_title">
    <div class="field-label is-medium">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="control is-flex is-align-items-center">
	<input autofocus
	       name="title"
	       class="input mr-4 form-input"
	       placeholder="New {{ current_user.category }} document..."
	>
      </div>
    </div>
  </div>

</form>


{% endblock %}
