{% extends "__root.html" %}

{% block js_local %}
<script>

 /* Date picker for Dates Cooked widget */
 window.addEventListener('DOMContentLoaded', (event) => {
   flatpickr("#date_cooked", {dateFormat: "Y-m-d", altInput: true, altFormat: "l, F J Y" });
 });
 document.body.addEventListener('htmx:afterSwap', function (event) {
   if (document.querySelector('#div_dates_cooked')) {
     flatpickr("#date_cooked", {dateFormat: "Y-m-d", altInput: true, altFormat: "l, F J Y" });
   }
 });


 /* Sweet Alert confirmation dialog for document deletion. */
 function confirm_form_delete(event, formId, btnName, btnValue) {
   event.preventDefault();
   Swal.fire({

     title: "Are you sure you want to delete this entry?",
     text: "You will not be able to revert this!",
     icon: "warning",

     confirmButtonColor: "#d33",
     confirmButtonText: "Yes",

     showCancelButton: true,
     cancelButtonColor: "#3085d6",
     cancelButtonText: "Cancel",

   }).then((result) => {
     if (result.isConfirmed) {

       var input = document.createElement("input");	// Create a new input element to simulate the button press
       input.setAttribute("type", "hidden");		// Set its type to "hidden", so it's not visible on the page
       input.setAttribute("name", btnName);		// The name should match the name of the button you're simulating
       input.setAttribute("value", btnValue);		// The value should match the value of the button you're simulating

       var form = document.getElementById(formId);
       form.appendChild(input);
       form.submit()
     }
   });
 }

</script>
{% endblock %}

{% block extra_css %}
<style>
 /* Use these to handle the disappearance of success/failure icons for each form element */
 @keyframes fade-out {
   0%   { opacity: 1.00; }
   25%  { opacity: 0.75; }
   50%  { opacity: 0.50; }
   75%  { opacity: 0.25; }
   100% { opacity: 0.00; }
 }
 .fade-out {
   animation: fade-out 5s forwards;
 }

 /* Responsive sizing of form input fields */
 .form-input {
   width: 100%;  /* For mobile phones: */
 }

 /* For landscape phones and down to portrait tablets: */
 @media (min-width: 576px) {
   .form-input {
     width: 90%;
   }
 }

 /* For landscape tablets and down to desktops: */
 @media (min-width: 768px) {
   .form-input {
     width: 80%;
   }
 }

 /* For large desktops: */
 @media (min-width: 1200px) {
   .form-input {
     width: 70%;  /* Or any desired width */
   }
 }

</style>
{% endblock %}

{% block content %}

<form method="POST">
  {{ form.hidden_tag() }}

  <div class="field is-horizontal" id="field_title">
    <div class="field-label is-medium">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="control is-flex is-align-items-center">
	<input autofocus
	       name="title"
	       class="input mr-4 form-input"
	       placeholder="New {{ current_user.category }} document..."
	>
      </div>
    </div>
  </div>

</form>


{% endblock %}
