# if documents:

<caption style="caption-side: top; text-align: left;" class="is-family-monospace">
  # if search:
  {{ documents|length }} Documents Matched
  # else
  {{ documents|length }} Total Documents
  # endif
</caption>

# else:

<caption style="caption-centered: top; text-align: center;" class="is-family-monospace">
  # if search
  Sorry, no documents meet your search criteria: <span class="is-italic">{{ search }}</span>
  # else:
  Sorry, you have no '{{ current_user.category }}' documents.
  # endif
</caption>

# endif
