{% macro render_sort_icon(field) %}
# if sort.by == field:
<span class="icon is-size-6"><i class="fas {{ 'fa-arrow-down-a-z' if sort.is_ascending() else 'fa-arrow-up-a-z' }}"></i></span>
# endif
{% endmacro %}

<table
  id="id_documents_table"
  class="table is-bordered is-striped is-responsive is-hoverable is-fullwidth table-sort table-arrows no-class-infer">
  <caption style="caption-side: top; text-align: left;" class="is-family-monospace">
    # if documents

      # if search:
        {{ documents|length }} Documents Matched
      # else
        {{ documents|length }} Total Documents
      # endif

    # else:

      {# No documents, why? nothing matches search or empty db? #}
      # if search
        Sorry, no documents meet your search criteria: <span class="is-italic">{{ search }}</span>.
      # else:
        Sorry, you have no '{{ current_user.category }}' documents (yet)!
      # endif

    # endif

  </caption>

  # if documents:
  <thead style="font-family: 'Raleway', sans-serif;">

    <tr class="has-background-grey-dark">

      {# ######################## #}
      {# Edit?                    #}
      {# ######################## #}
      <th scope="col" class="disable-sort"></th>

      {# ######################## #}
      {# Quality                  #}
      {# ######################## #}
      <th id="th_quality"
	  scope="col"
	  class="has-text-white has-text-centered"
    	  hx-target="closest table"
	  hx-get="/sort?sort_by=quality&sort_order={{ 'asc' if sort.order=='desc' else 'desc' }}"
      >
	Q{{ render_sort_icon("quality") }}
      </th>

      {# ######################## #}
      {# Complexity               #}
      {# ######################## #}
      <th id="th_complexity"
	  scope="col"
	  class="has-text-white has-text-centered"
    	  hx-target="closest table"
	  hx-get="/sort?sort_by=complexity&sort_order={{ 'asc' if sort.order=='desc' else 'desc' }}"
      >
	C{{ render_sort_icon("complexity") }}
      </th>

      {# ######################## #}
      {# Title        	        #}
      {# ######################## #}
      <th id="th_title"
	  scope="col"
	  class="has-text-white"
    	  hx-target="closest table"
	  hx-get="/sort?sort_by=title&sort_order={{ 'asc' if sort.order=='desc' else 'desc' }}"
      >
	Title{{ render_sort_icon("title") }}
      </th>

      {# ######################## #}
      {# Tags         	          #}
      {# ######################## #}
      <th id="th_tags"
	  scope="col"
	  class="has-text-white"
    	  hx-target="closest table"
	  hx-get="/sort?sort_by=tags&sort_order={{ 'asc' if sort.order=='desc' else 'desc' }}"
      >
	Tags{{ render_sort_icon("tags") }}
      </th>

      {# ######################## #}
      {# Source        	          #}
      {# ######################## #}
      <th id="th_source"
	  scope="col"
	  class="has-text-white"
    	  hx-target="closest table"
	  hx-get="/sort?sort_by=source&sort_order={{ 'asc' if sort.order=='desc' else 'desc' }}"
      >
	Source{{ render_sort_icon("source") }}
      </th>

      {# ######################## #}
      {# Last Cooked              #}
      {# ######################## #}
      <th id="th_last_cooked"
	  scope="col"
	  class="has-text-white has-text-centered"
    	  hx-target="closest table"
	  hx-get="/sort?sort_by=last_cooked&sort_order={{ 'asc' if sort.order=='desc' else 'desc' }}"
      >
	Last{{ render_sort_icon("last_cooked") }}
      </th>

    </tr>
  </thead>
  <tbody>
    # for document in documents:
    {% include "main/partials/display_table_tr.html" %}
    # endfor
  </tbody>
  # endif
</table>
