<form action="/document/delete" method="post" id="form_manage">
  {{ form.hidden_tag() }}
  <div class="field is-horizontal">
    <div class="field-label is-medium"></div><!-- Need this even when empty! -->
    <div class="field-body">
      <div class="control is-primary" style="overflow:hidden;">
	<input class="button is-danger is-light"
	       type="submit"
	       id="doc_id"
	       name="doc_id"
	       value="Delete Document?"
	       onclick="confirm_form_delete(event, 'form_manage', 'doc_id', '{{ document.id}}')">
      </div>
    </div>
  </div>
</form>
