<form hx-post="/edit/file_/{{ document.id }}"
      hx-trigger="change from:#file_"
      enctype="multipart/form-data"
      class="mb-3"> {# Roughly match the bottom margins of div elements on this page #}
  {{ form.hidden_tag() }}
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">File</label>
    </div>
    <div class="field-body">
      <div class="control is-flex is-align-items-center">
        <div class="field">
          <div class="file has-name is-primary">
            <label class="file-label">
	      <input class="file-input" id="file_" name="file_" type="file" hx-swap="closest form">
              <span class="file-cta">
                <span class="file-label"></span>
                <span class="file-icon"><i class="fas fa-upload"></i></span>
              </span>
              <span id="file-name" name="file-name" class="file-name is-large mr-4 form-input">
		{{ document.file_.filename|default("", true) }}
	      </span>
            </label>
	    {% include "main/partials/_status_icon.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
