<div class="field is-horizontal" id="field_source">
  <div class="field-label is-medium">
    <label class="label">Source</label>
  </div>
  <div class="field-body">
    <div class="control is-flex is-align-items-center">
      <div class="select is-rounded is-small mr-4">
	<select name="source"
		hx-post="/edit/source/{{ document.id }}"
		hx-swap="outerHTML"
		hx-target="#field_source">
	  {% for source in sources %}
	  <option {% if document.source == source %}selected{% endif %} value="{{ source }}">{{ source }}</option>
	  {% endfor %}
	</select>
      </div>

      <input class="input mr-4 form-input is-small is-rounded"
	     style="width: 120px;vertical-align: middle;"
	     name="source"
	     placeholder="New source..."
	     hx-post="/edit/source/{{ document.id }}"
	     hx-swap="outerHTML"
	     hx-target="#field_source">

      {% include "main/partials/_status_icon.html" %}
    </div>
  </div>
</div>
{# hx-trigger="change from:#source" #}
