<!-- Title Field -->
<div class="field is-horizontal" id="field_title">

  <div class="field-label is-medium">
    <label class="label">Title</label>
  </div>

  <div class="field-body">

    <div class="control is-flex is-align-items-center">
      <input autofocus
	     name="title"
	     class="input mr-4 form-input"
	     value="{{ document.title }}"
	     hx-post="/edit/title/{{ document.id }}"
	     hx-target="#field_title"
	     hx-swap="outerHTML">
      {% include "main/partials/_status_icon.html" %}
    </div>

  </div>
</div>
