<!-- Tags -->
<form hx-post="/edit/{{ document.id }}" hx-vals='{"field": "tag"}' hx-swap="outerHTML" id="form_tags">
  {{ form.hidden_tag() }}

  <div class="field is-horizontal">

    <div class="field-label is-medium">
      <label class="label">Tags</label>
    </div>
    <div class="field-body">

      <div class="control is-flex is-align-items-center">

	<input type="submit" style="display:none;"> {# Hidden submit will make "return" fire the hx-post #}
	<input class="input mr-4 form-input" style="width: 120px;" name="tag" placeholder="Add new tag...">

	<div class="tags has-addons" style="vertical-align: middle;">
	  {% for tag in document.tags|sort %}
	  <span class="tag is-link is-light is-normal" style="vertical-align: middle;">
	    {{ tag }}
	  </span>
	  <a class="tag is-delete is-small"
	     hx-swap="outerHTML"
	     hx-target="#form_tags"
	     hx-delete="/document/tag/{{ document.id}}/{{ tag }}"
	  >
	  </a>
	  &nbsp;
	  {% endfor %}

	</div>

	{% include "main/partials/_status_icon.html" %}

      </div>
    </div>
  </div>
</form>
