<!-- Link/URL_ Field -->
<form hx-post="/edit/{{ document.id }}" hx-vals='{"field": "url_"}' hx-swap="outerHTML">
  {{ form.hidden_tag() }}

  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Link</label>
    </div>
    <div class="field-body">
      <div class="control is-flex is-align-items-center">

	<input type="submit" style="display:none;">
	<input class="input mr-4 form-input" name="url_" value="{{ document.url_|default("", true) }}">

	{% include "main/partials/_status_icon.html" %}

      </div>
    </div>
  </div>

</form>
