<div id="div_tags">
  <div class="field is-horizontal">
    <div class="field-label is-medium">
      <label class="label">Tags</label>
    </div>
    <div class="field-body">
      <div class="control is-flex is-align-items-center">
	<div class="select is-rounded is-small mr-4">
	  <select autofocus
		  name="tag"
		  hx-post="/edit/tag/{{ document.id }}"
		  hx-swap="outerHTML"
		  hx-target="#div_tags">
	    <option value=""></option>
	    {% for tag in tags %}
	    <option value="{{ tag }}">{{ tag }}</option>
	    {% endfor %}
	  </select>
	</div>

	<input class="input mr-4 form-input is-small"
	       style="width: 120px;vertical-align: middle;"
	       name="tag"
	       placeholder="New tag..."
	       hx-post="/edit/tag/{{ document.id }}"
	       hx-swap="outerHTML"
	       hx-target="#div_tags">

	{% include "main/partials/_status_icon.html" %}
      </div>
    </div>
  </div>

  {% if document.tags %}
  <div class="field is-horizontal mb-4">
    <div class="field-label is-medium">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="control is-flex is-align-items-center">
	{% for tag in document.tags|sort %}
	<span class="tag is-link is-light is-normal mr-2" style="vertical-align: middle;">
	  {{ tag }}
	  <a class="delete is-delete is-small"
	     hx-delete="/edit/tag/{{ document.id}}"
	     hx-swap="outerHTML"
	     hx-target="#div_tags"
	     hx-vals='{"tag": "{{ tag }}"}'>
	  </a>
	</span>
	{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

</div>
