<tr style="background-color: white;">

  {# Quality #}
  <td class="has-text-centered is-size-7" style="vertical-align: middle;">
    {{ document.quality_enum | default("", true) }}
  </td>

  {# Complexity #}
  <td class="has-text-centered is-size-7" style="vertical-align: middle;">
    {{ document.complexity_enum | default("", true) }}
  </td>

  {# Title #}
  <td style="vertical-align: middle;">
    <a href="/view/{{ document.id }}">
      {{ document.title }}
    </a>
  </td>

  {# Tag(s) #}
  <td style="vertical-align: middle;">
    <div class="field">
      <div class="control">
	<div class="tags has-addons">
	  {% for tag in document.tags|sort %}
	  <span class="tag is-link is-light is-normal">
	    {{ tag }}
	  </span>
	  <a class="tag is-delete is-normal"
      	     hx-confirm="Are you sure?"
	     hx-swap="outerHTML"
	     hx-delete="/document/tag"
	     hx-target="closest tr"
	     hx-vals='{"name":"{{ tag }}", "id":"{{ document.id }}"}'>
	  </a>
	  &nbsp;
	  {% endfor %}
	</div>
      </div>
    </div>
  </td>

  {# Source #}
  <td style="vertical-align: middle;">
    {{ document.source | default("", true) }}
  </td>

  {# Last Cooked #}
  <td style="vertical-align: middle;">
    {{ document.last_cooked | default("", true) }}
  </td>

  {# Edit Icon #}
  <td class="has-text-centered"  style="vertical-align: middle;">
    <a href="/edit/{{ document.id }}">
      <span class="icon is-small is-right is-size-6">
	<i class="fa-regular fa-pen-to-square"></i>
      </span>
    </a>
  </td>

  {# Delete Icon #}
  <td class="has-text-centered"  style="vertical-align: middle;">
    <a onclick="confirm_deletion(event)" href="/delete/{{ document.id }}">
      <span class="icon is-small is-right is-size-6">
	<i class="fa-regular fa-trash-can"></i>
      </span>
    </a>
  </td>

</tr>
