{% macro render_sort_icon() %}
<span class="icon is-size-6"><i class="fas {{ 'fa-arrow-down-a-z' if order == 'desc' else 'fa-arrow-up-a-z' }}"></i></span>
{% endmacro %}

{% extends "__root.html" %}

{% block content %}

<div id="statusMessage"></div>

<div class="columns">

  <div class="column is-quarter">
	<div id="chart" class="chart">
	  <img src="{{ url_for('static', filename=filename) }}">
	</div>
  </div>

  <div class="column is-quarter">
	<div class="table-container">
	  <table id="table_tags" class="table is-narrow is-striped responsive-font">

		<thead>
		  <tr class="has-background-grey-dark">
			<th class="has-text-centered">
			  <a class="has-text-white"
				 href="/tags?sort=tag&order={{ 'asc' if sort == 'tag' and order == 'desc' else 'desc' }}">
				Tag{% if sort == "tag" %}{{ render_sort_icon() }}{% endif %}
			  </a>
			</th>
			<th class="has-text-centered has-text-white disable-sort">Actions</th>
		  </tr>
		</thead>

		<tbody>
		  # for tag, count in tags:
		  {% include "tags/partials/tr.html" %}
		  # endfor
		</tbody>

	  </table>
	</div>

  <div class="column is-half">
  </div>

</div>

{% endblock %}
