<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block title %}Coctione Libri{% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coctione Libri PDF Library">
    <meta name="author" content="Peter Borocz">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    {# Primary CSS framework #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coctione_libri.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-tooltip.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-divider.min.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">

    {% block extra_css %}
    {# Any optional/page-specific css can be injected here... #}
    {% endblock %}

  </head>

  <body>

    <div class="watermark"></div>

    <section class="section">
      {% include "_navbar.html"   %}
      {% include "_messages.html" %}
      <main>

	<hr/>

        {% block content %}
        {# CORE content goes here! #}
        {% endblock %}

      </main>

      {% block footer %}
      {# Any optional footer go here. #}
      {% endblock %}

    </section>

    {# Le javascript: Keep at the end of the document for faster page load #}
    {% block javascript %}

    {# Setup our FontAwesome environment #}
    <script defer src="https://kit.fontawesome.com/4ab3aa20ca.js" crossorigin="anonymous"></script>

    {# htmx & hyperscript libraries #}
    <script defer src="https://unpkg.com/htmx.org@latest"></script> {# As of last update: 1.9.9 #}
    <script defer src="https://unpkg.com/hyperscript.org@latest"></script> {# As of last update: 0.9.11 #}

    {# allow for inline/scoped css #}
    <script defer src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script>

    {# Sweetalert confirmation system #}
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {# calendar widget du-jour #}
    <script defer src="https://unpkg.com/flatpickr"></script>

    <script type="text/javascript">
     document.addEventListener('DOMContentLoaded', () => {

       // Get all "navbar-burger" elements
       const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

       // Check if there are any navbar burgers
       if ($navbarBurgers.length > 0) {

         // Add a click event on each of them
         $navbarBurgers.forEach( el => {
           el.addEventListener('click', () => {

             // Get the target from the "data-target" attribute
             const target = el.dataset.target;
             const $target = document.getElementById(target);

             // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
             el.classList.toggle('is-active');
             $target.classList.toggle('is-active');

           });
         });
       }
     });
    </script>

    {% block js_local %}
    {# Any page-specific JS can be populated #}
    {% endblock %}

    {% endblock %}

  </body>
</html>
