<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand", id="navbar_brand">

    <a class="navbar-item" href="/">
      <i class="fa-solid fa-kitchen-set is-size-3"></i>
      &nbsp;&nbsp;&nbsp;
      <span class="is-size-3">Coctione Libri</span>
      &nbsp;
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div><!-- navbar-brand -->

  # if current_user.is_authenticated:

  <div class="navbar-menu" id="navbar_menu">

    {# The *LEFT* part of the menu, appearing right after navbar-brand #}
    <div class="navbar-start">
      # if not no_search:
      <div class="navbar-item">
	<div class="field">
	  <style>
	   me { max-width: 300px; min-width: 150px; width: 200px; }
	  </style>
	  <div class="control">
	    {# Use this if we're doing a full page refresh: #}
	    {# _="on htmx:afterRequest set my value to ''" #}
	    <input
	      class="input"
	      autofocus
	      hx-post="/search"
	      hx-target="#id_documents_div"
	      placeholder="Search..."
	      type="search"
	      name="search"
	    >
	  </div>
	</div>
      </div>
      # endif

      # if watermark:
      <div class="navbar-item is-hidden-lt-widescreen">
	<div class="field">
	  <div class="control has-text-danger-dark is-size-3">
	    {{ watermark|title }}
	  </div>
	</div>
      </div>
      # endif

    </div>

    {# The *RIGHT* part of the menu, appearing right after navbar-brand #}
    <div class="navbar-end">

      <div class="navbar-item">
	<div class="select is-rounded is-small mr-4">
	  <select name="category" hx-post="/user/category" hx-target="#id_documents_div">
	    # for category in categories:
	    <option {% if current_user.category == category %}selected{% endif %} value="{{ category }}">{{ category }}</option>
	    # endfor
	  </select>
	</div>
      </div>

      <div class="navbar-item">
	<a class="navbar-item" href="{{ url_for('main.render_new_document') }}">
	  <i class="fa-solid fa-plus is-size-4"></i>
	</a>
      </div>

      <div class="navbar-item">
	<a class="navbar-item" href="{{ url_for('tags.manage_tags') }}">
	  <i class="fa-solid fa-tags is-size-4"></i>
	</a>
      </div>

      <div class="navbar-item">
	<a class="navbar-item" href="{{ url_for('auth.logout') }}">
	  <i class="fa-solid fa-arrow-right-from-bracket is-size-4"></i>
	</a>
      </div>
    </div><!-- navbar-end -->

  </div><!-- navbar-menu -->

  # endif

</nav>
