{% extends "__root.html" %}

{% block content %}

<div class="columns is-mobile is-multiline is-vcentered is-centered">
  <div class="column is-half is-offset-one-quarter">
    <div class="table-container">
      <table
	id="table_tags"
	    class="table is-bordered is-striped is-responsive is-hoverable table-sort table-arrows no-class-infer">

	<caption style="caption-side: top; text-align: left;" class="is-family-monospace has-text-centered">
	  {% if tags %}
	  {{ tags|length }} Total Tags
	  {% endif %}
	</caption>

	<thead>
	  <tr class="has-background-grey-dark">
            <th scope="col" class="has-text-white">Tag</th>
            <th scope="col" class="has-text-white">Count</th>
            <th scope="col"></th>
	  </tr>
	</thead>

	<tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
	  {% for tag, count in tags %}
	  <tr style="background-color: white;">

	    {% include "tag_display.htmx" %}

	    <td class="has-text-centered">
	      {{ count }}
	    </td>

	    <td class="has-text-centered">
	      <button class="button"
		      style="border: none;"
		      hx-delete="/tag/delete"
		      hx-vals='{"name": "{{ tag }}"}'>
		<span class="icon is-small is-size-6">
		  <i class="fa-regular fa-trash-can"></i>
		</span>
	      </button>
	    </td>

	  </tr>

	  {% endfor %}
	</tbody>

      </table>

    </div>

  </div>

</div>

{% endblock %}
